.screens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transform:translateY(-110.3%);


}
@media screen and (min-width: 1100x) {
    .screens{
    transform: translateY(-60rem);;
    }
  }